#pageHeader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
};

#otuDesc {
    font-family: Arial, Helvetica, sans-serif;
};
#dirtyNavel{
    font-family: Arial, Helvetica, sans-serif;
};